@use "../../variables";

.p-about {
  &-headingImg {
    width: 19.38%;
  }

  &-lead {
    display: grid;
    grid-template-columns: 50% 43%;
    grid-column-gap: 7%;

    &__copyImg {
      width: 59.7%;
      margin-top: 40px;
    }

    &__paragraph {
      margin-top: 32px;
      font-size: 15px;
      line-height: 3;
      text-align: justify;
      letter-spacing: 1px;
    }
  }

  &-features {
    &__heading {
      margin-top: 108px;
      text-align: center;
    }

    &__headingPicture {
      display: inline-block;
      width: 186px;
    }
  }

  &-banner {
    margin-top: 96px;
    text-align: center;

    &__picture {
      display: inline-block;
      max-width: 534px;
    }
  }

  &-overview {
    max-width: 800px;
    margin: 108px auto;

    &__heading {
      display: block;
      text-align: center;
    }

    &__picture {
      display: inline-block;
      max-width: 156px;
    }
  }
}
