@use "../../variables";

#contact {
  form {
    margin-top: 72px;
  }

  .required-label {
    display: inline-block;
    padding: 4px 6px;
    font-size: 15px;
    color: variables.$white;
    text-indent: 4px;
    letter-spacing: 4px;
    white-space: nowrap;
    background-color: variables.$color-primary;

    &.-optional {
      color: #000000;
      background-color: #e6e6e6;
    }
  }

  .form-item {
    display: inline-block;
    width: 140px;
    margin-left: 12px;
  }

  .wpcf7-list-item {
    &.first {
      margin-left: 0;
    }
  }

  .form-input {
    &:not(:first-child) {
      margin-top: 40px;
    }
    &.-textarea {
      label {
        display: flex;
        align-items: flex-start;
      }
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"] {
      width: 72%;
      padding: 10px 0 10px 10px;
      border: 2px solid #d8d8d8;

      & + .wpcf7-not-valid-tip {
        width: 74%;
        margin: 0 0 0 auto;
      }
    }

    .wpcf7-radio + .wpcf7-not-valid-tip {
      width: 74%;
      margin: 0 0 0 auto;
    }

    .your-message {
      width: 74%;
    }

    textarea {
      width: 100%;
      padding: 10px 0 10px 10px;
      border: 2px solid #d8d8d8;
    }
  }

  .form-submitArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 48px 0 0;
  }

  .form-submitAreaCaution {
    font-size: 15px;
    letter-spacing: 1px;

    a {
      color: variables.$black;
      text-decoration: underline;
    }
  }
}

.p-contact {
  &-inner {
    max-width: 896px;
    padding: 0 48px;
    margin: 108px auto 0;
  }

  &-headingImg {
    width: 20.91%;
  }

  &-phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 24px;
    color: variables.$color-primary-dark;
    border: 1px solid variables.$color-primary-dark;
    box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.05);

    &__heading {
      font-size: 28px;
      letter-spacing: 2px;
    }

    &__paragraph {
      margin-top: 6px;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 1px;
    }

    &__number {
      margin-top: 18px;
      font-size: 46px;
      font-style: normal;
      font-weight: 300;
      line-height: 1;
      letter-spacing: 4px;
    }

    &__inCharge {
      margin-top: 6px;
      font-size: 16px;
      font-weight: 600;
    }
  }

  &-lead {
    margin: 72px auto 0;
    font-size: 15px;
    line-height: 1.7;
    letter-spacing: 1.4px;
  }

  &__inner {
    width: 100%;
    max-width: 800px;
    margin: 60px auto;
  }

  &__leadParagraph {
    margin: 0;
    font-size: 15px;
    line-height: 1.8;
  }

  &-privacy {
    height: 330px;
    padding: 48px 64px 24px;
    margin: 96px 0 100px;
    overflow-y: scroll;
    box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.05);

    &__block {
      padding-bottom: 24px;
      border-bottom: 1px solid rgba($color: #58a2c4, $alpha: 0.3);
    }

    &__heading {
      margin: 0 0 32px;
      font-size: 20px;
      color: variables.$color-primary;
      text-align: center;
    }

    &__list {
      list-style: disc;
    }

    &__item {
      margin: 0 16px 8px;
      line-height: 1.8;

      & > ul {
        padding-left: 16px;
        list-style: disc;
      }

      & > a {
        color: variables.$color-primary;
      }
    }
  }

  &-submit__button.c-button__wrapper {
    margin: 48px auto 0;
  }
}

@include variables.mq(variables.$tablet) {
  .contact {
    &__inner {
      padding: 0 20px;
      margin: 32px auto 48px;
    }

    &__wrapper {
      .wpcf7-list-item {
        margin: 12px 20px 0 0;

        &.first {
          margin-left: auto;
        }
      }

      .form-input {
        &.-textarea {
          label {
            display: block;
          }
        }

        input[type="text"],
        input[type="tel"],
        input[type="email"] {
          width: 100%;

          & + .wpcf7-not-valid-tip {
            width: 100%;
          }
        }

        textarea {
          font-size: 16px;
        }

        .your-message {
          width: 100%;
        }

        &:not(:first-child) {
          margin-top: 40px;
        }
      }

      .form-submitArea {
        flex-direction: column;
        margin: 24px 0 0;
      }

      .form-submitBtnWrapper {
        width: 80%;
        margin: 12px 0 0;
      }

      .wpcf7-form-control-wrap {
        display: block;
        margin-top: 10px;

        &.form-items {
          margin-top: 4px;
        }
      }

      .wpcf7 form .wpcf7-response-output {
        margin: 2em 0 1em;
      }
    }

    &__privacy {
      height: 380px;
      padding: 24px 12px 0;
      margin-bottom: 60px;
    }

    &__privacyHeading {
      margin: 0 0 24px;
      font-size: 19px;
    }

    &__privacyItem {
      font-size: 13px;
    }
  }
}
