@use "../../variables";

.c-fixed-button {
  &__link {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 60px;
    width: 56px;
    padding: 32px 0 24px;
    font-size: 16px;
    letter-spacing: 1px;
    background-image: linear-gradient(
      312deg,
      rgb(0, 50, 112) 0%,
      rgb(0, 69, 154) 49%,
      rgb(0, 88, 195) 100%
    );
    transform: translateY(-50%);
  }

  &__text {
    color: variables.$white;
    writing-mode: vertical-rl;

    &::after {
      margin-top: 12px;
      content: "》";
    }
  }
}
