@use "variables";

.l-tripleCol {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 9%;

  &__text {
    position: relative;
    display: flex;
    margin-top: 20px;
  }

  &__heading {
    position: absolute;
    top: -48px;
    writing-mode: vertical-rl;
  }

  &__paragraph {
    margin-left: 18%;
    font-size: 15px;
    line-height: 2.33;
  }
}
