// Border
// $border-radius-regular: 4px;
// $border-width-regular: 1px;

// hover Opacity Rule
// $hover-opacity: 0.6;

// Color Rule
$color-primary: #003270;
$color-primary-tint: #0058c3;
$color-primary-dark: #04287e;

$white: #ffffff;
$black: #000000;

// Width Rule
$content-width-xxs: 480px;
$content-width-xs: 769px;
$content-width-sm: 1000px;
$content-width-md: 1100px;
$content-width-xl: 1296px;

// media-query
$mobile: $content-width-xxs;
$tablet: $content-width-xs;
$pc: $content-width-sm;

// transition
$transition-speed-normal: 0.2s;

// opacity
$opacity-normal: 0.8;

@mixin mq($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}
